<!DOCTYPE html>
<html>
    <head>
        <title>ERR {{statuscode}}</title>
        <link rel="shortcut icon" href="https://alekeagle.com/favicon.ico" type="image/x-icon" />
        <meta name="description" content="ERROR {{statuscode}}" />
        <meta property="og:description" content="ERROR {{statuscode}}" />
        <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet" type="text/css">
        <link href="/assets/css/universal.css" rel="stylesheet" type="text/css"><!-- 
        <canvas id="bgCanvas"></canvas>
        <script type="text/javascript" src="assets/js/classical-noise.js"></script>
        <script type="text/javascript" src="assets/js/bgAnimation.js"></script> -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135044771-3"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-135044771-3');
        </script>
    </head>
    <body>
        <h1>Hmm, it seems that either you got lost or we did, either way you aren't supposed to be here intentionally. We recommend you <a href="javascript:history.back()">tracing your steps</a> to figure out where you got lost.<h1>
            <img src="https://http.cat/{{statuscode}}" alt="error {{statuscode}} cat">
    </body>
<html>