<!DOCTYPE html>
<html>
    <head>
        <title>Not Funny, Didn't Laugh</title>
        <meta name="description" content="Not Funny, Didn't Laugh" />
        <meta property="og:description" content="Not Funny, Didn't Laugh" />
        <meta property="og:video" content="https://inotfunnydidntlaugh.co/notfunny.mp4" />
        <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet" type="text/css">
        <link href="//alekeagle.com/assets/css/universal.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <video controls loop autoplay>
            <source src="notfunny.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </body>
<html>